<mat-toolbar>
  
  <span>Solicitud de seguros de vida </span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon ms-3"
    aria-label="Example icon-button with share icon material-symbols-outlined"
    [routerLink]="'empleado'"
  >
    <mat-icon>badge</mat-icon> Empleados
  </button>
  <button
    mat-icon-button
    class="example-icon ms-3"
    aria-label="Example icon-button with heart icon"
    [routerLink]="'beneficiario'"
  >
    <mat-icon>group</mat-icon> Beneficiarios
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
