<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <mat-card>
        <div class="container text-center">
          <img src="./assets/img/login.png" width="100" height="100" />
        </div>
        <h1 class="text-center">Registrar Empleado</h1>
        <form (ngSubmit)="formSubmit()">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Tipo documento</mat-label>
            <mat-select
              [(ngModel)]="empleado.tipoId"
              [ngModelOptions]="{ standalone: true }"
              required=""
            >
              <mat-option value="Cedula de Ciudadanía"
                >Cedula de Ciudadanía</mat-option
              >
              <mat-option value="Tarjeta de identidad"
                >Tarjeta de identidad</mat-option
              >
              <mat-option value="Cedula extranjera"
                >Cedula extranjera</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Documento</mat-label>
            <input
              required
              name="id"
              [(ngModel)]="empleado.id"
              matInput
              placeholder="Digite el documento del empleado"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input
              required
              name="nombre"
              [(ngModel)]="empleado.nombre"
              matInput
              placeholder="Digite el nombre del empleado"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input
              required
              name="apellido"
              [(ngModel)]="empleado.apellido"
              matInput
              placeholder="Digite el apellido del empleado"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input
              type="date"
              required
              name="fechaNacimiento"
              [(ngModel)]="empleado.fechaNacimiento"
              matInput
              placeholder="Digite la fecha de nacimiento"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Fecha expedicion documento</mat-label>
            <input
              type="date"
              required
              name="fechaExpedicionId"
              [(ngModel)]="empleado.fechaExpedicionId"
              matInput
              placeholder="Digite la fecha de expedición del documento"
            />
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Nacionalidad</mat-label>
            <input
              required
              name="nacionalidad"
              [(ngModel)]="empleado.nacionalidad"
              matInput
              placeholder="Digite la nacionalidad del empleado"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Sexo</mat-label>
            <mat-select
              [(ngModel)]="empleado.sexo"
              [ngModelOptions]="{ standalone: true }"
              required
            >
              <mat-option value="masculino">Masculino</mat-option>
              <mat-option value="femenino">Femenino</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Estado civil</mat-label>
            <mat-select
              [(ngModel)]="empleado.estadoCivil"
              [ngModelOptions]="{ standalone: true }"
              required
            >
              <mat-option value="casado">Casado</mat-option>
              <mat-option value="soltero">Soltero</mat-option>
              <mat-option value="otro">Otro</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Numero de credito</mat-label>
            <input
              required
              name="noCredito"
              [(ngModel)]="empleado.noCredito"
              matInput
              placeholder="Digite su nombre de usuario"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Dirección</mat-label>
            <input
              required
              name="direccion"
              [(ngModel)]="empleado.direccion"
              matInput
              placeholder="Digite la dirección"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input
              required
              name="ciudad"
              [(ngModel)]="empleado.ciudad"
              matInput
              placeholder="Digite el nombre de la cuidad"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telefono</mat-label>
            <input
              required
              name="telefono"
              [(ngModel)]="empleado.telefono"
              matInput
              placeholder="Digite el telefono del empleado"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              [(ngModel)]="empleado.correo"
              [formControl]="emailFormControl"
              placeholder="Ex. pat@example.com"
            />
            <mat-error
              *ngIf="
                emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')
              "
            >
              Por favor ingrese un correo
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              El correo es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Profesión</mat-label>
            <input
              required
              name="profesion"
              [(ngModel)]="empleado.profesion"
              matInput
              placeholder="Digite la profesión de empleado"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Prima del seguro</mat-label>
            <input
              required
              name="primaSeguro"
              [(ngModel)]="empleado.primaSeguro"
              matInput
              placeholder="Digite la prima del seguro"
            />
          </mat-form-field>

          <br /><br />
          <div class="container text-center">
            <button mat-raised-button color="primary">Guardar</button>
            <button
              type="reset"
              style="margin-left: 20px"
              mat-raised-button
              color="accent"
            >
              Limpiar
            </button>
          </div>
        </form>
      </mat-card>
      <!-- Tables -->
    </div>
    <div class="col-md-7 col-lg-8">
      <button mat-button (click)="openDialog()">Launch dialog</button>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>Weight</th>
          <td mat-cell *matCellDef="let element">{{ element.apellido}}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>Symbol</th>
          <td mat-cell *matCellDef="let element">{{ element.sexo }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
